body{
    background-size:auto ;
}

#logo{
    width: 100px;
    margin-top: 20px;
    margin-left: 5px;
}

header{
    background-image: url(./img/pattern.png);
    background-color: #4fa1ff;
    background-size:contain;
}


.grey{
    font-size: 15px;
    color:#b0b0b1
}

.bluebooleaner{
    color:#21a8e5
}

#data{
    color: #b0b0b1;
    font-size: 10px;
}

#timphoto{
    width: 200px;
}

#info-img{
    font-size: 8px;
}

.yellow{
    background-color: #fefe00;
}